@import "_normalize";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600i,700,900");

$brand-color: #ffcc00;
$text-color: #262626;
$title-color: #666666;
$bg-color: #ff6033;
//$heading-font: 'Roboto', sans-serif;
$text-font: 'Raleway', sans-serif;
//$btn-font: 'Open+Sans', sans-serif;

$bw: 1px; //border-width
html {
  height: 100%;
  font-size: 10px;
}

body {
  font: 300 1.7rem/1.7 $text-font;
  min-height: 100%;
  color: $text-color;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  //position: relative;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    li {
      display: inline-block;
      margin-left: 30px;
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 700;
    border-top: 3px solid transparent;
    padding: 5px 0;
    transition: all .4s linear;
    &:hover,
    &:focus,
    &.active {
      border-color: $bg-color;
    }
  }
}

.logo {
  font-family: Pacifico;
  text-decoration: none;
  color: $text-color;
  font-size: 5rem;
}

.section {
  &--bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &--100h {
    height: 100vh;
  }
  &__title {
    color: $text-color;
    font-size: 6.0rem;
    font-weight: 900;
    margin: 0;
    &--medium {
      color: #ffffff;
      font-size: 9.0rem;
      font-weight: 700;
    }
  }
  &__text {
    color: $text-color;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 35px;
    &--white {
      color: #ffffff;
      font-size: 1.7rem;
      font-weight: 300;
    }
  }
  &__btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.0rem;
    color: #ffffff;
    font-weight: 300;
    background-color: $bg-color;
    padding: 20px 25px;
    border: 1px solid transparent;
    transition: all .4s ease-in-out;
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $bg-color;
      border-color: $bg-color;
    }
    &--column {
      text-transform: none;
      background-color: #ffffff;
      color: $text-color;
      margin-bottom: 20px;

    }
  }
  &__btn--flex {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
  }
  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 70px;
    &--link {
      svg {
        transition: all .4s ease-in-out;
      }
      svg:hover,
      svg:focus {
        transform: rotateX(180deg);
      }
    }
  }
}

.flex-row {
  //position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //bottom: 50%;

  &__item {
    flex: 0 0 50%;
  }
}



