@import "_normalize";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600i,700,900");

$brand-color: #ffcc00;
$text-color: #262626;
$title-color: #666666;
$bg-color: #ff6033;
$btn-red: #f72b3b;
$btn-green: #96b92c;
$btn-blue: #5585a2;

//$heading-font: 'Roboto', sans-serif;
$text-font: 'Raleway', sans-serif;
//$btn-font: 'Open+Sans', sans-serif;

$bw: 1px; //border-width
html {
  height: 100%;
  font-size: 10px;
}

body {
  font: 300 1.7rem/1.7 $text-font;
  min-height: 100%;
  color: $text-color;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    li {
      display: inline-block;
      margin-left: 30px;
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 700;
    border-top: 3px solid transparent;
    padding: 5px 0;
    transition: all .4s linear;
    &:hover,
    &:focus,
    &.active {
      border-color: $bg-color;
    }
  }
}

.logo {
  font-family: Pacifico;
  text-decoration: none;
  color: $text-color;
  font-size: 5rem;
}

.section {
  &--bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &--100h {
    height: 100vh;
  }
  &__title {
    color: $text-color;
    font-size: 6.0rem;
    font-weight: 900;
    margin: 0;
    &--medium {
      color: #ffffff;
      font-size: 9.0rem;
      font-weight: 700;
    }
    &--small {
      color: #ffffff;
      font-size: 9.0rem;
      font-weight: 700;
      position: absolute;
      bottom: 30%;
    }
    &--center {
      color: $text-color;
      font-size: 9.0rem;
      font-weight: 700;
      text-align: center;
    }
    &--extrasmall {
      font-size: 4.0rem;
      font-weight: 700;
    }
  }
  &__text {
    color: $text-color;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 35px;
    &--white {
      color: #ffffff;
      font-size: 1.7rem;
      font-weight: 300;
    }
    &--center {
      text-align: center;
      color: $text-color;
      font-size: 1.7rem;
      font-weight: 300;
      width: 50%;
      margin: 0 auto;
    }
  }
  &__btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.0rem;
    color: #ffffff;
    font-weight: 300;
    background-color: $bg-color;
    padding: 20px 25px;
    border: 2px solid transparent;
    transition: all .4s ease-in-out;
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $bg-color;
      border-color: $bg-color;
    }
    &--column {
      text-transform: none;
      background-color: #ffffff;
      color: $text-color;
      margin-bottom: 20px;
      padding: 40px 170px 40px 70px;
      width: 400px;
      box-shadow: 0px 7px 27px -5px #45769e;
      position: relative;
      font-size: 2.0rem;
      font-weight: 900;
      //display: inline-block;
      &:nth-child(1):after {
        content: '';
        width: 70px;
        height: 70px;
        background: url("../img/icon1.png") no-repeat;
        background-size: contain;
        position: absolute;
        right: 5%;
        top: 25px;
        bottom: 25px;
      }
      &:nth-child(2):after {
        content: '';
        width: 70px;
        height: 70px;
        background: url("../img/icon2.png") no-repeat;
        background-size: contain;
        position: absolute;
        right: 5%;
        top: 25px;
        bottom: 25px;
      }
      &:nth-child(3):after {
        content: '';
        width: 70px;
        height: 70px;
        background: url("../img/icon3.png") no-repeat;
        background-size: contain;
        position: absolute;
        right: 5%;
        top: 25px;
        bottom: 25px;
      }
      &:nth-child(4):after {
        content: '';
        width: 70px;
        height: 70px;
        background: url("../img/icon4.png") no-repeat;
        background-size: contain;
        position: absolute;
        right: 5%;
        top: 25px;
        bottom: 25px;
      }
    }
    &--blue {
      background: $btn-blue;
      padding: 20px 40px;
      //margin: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 7px 27px -5px $btn-blue;
      &:hover,
      &:focus {
        background: #ffffff;
        border-color: $btn-blue;
        color: $btn-blue;
      }
    }
    &--green {
      background: $btn-green;
      padding: 20px 30px;
      position: absolute;
      left: 50%;
      box-shadow: 0px 7px 27px -5px $btn-green;
      //top: 280px;
      &:hover,
      &:focus {
        background: #ffffff;
        border-color: $btn-green;
        color: $btn-green;
      }
    }
    &--red {
      background: $btn-red;
      padding: 20px 40px;
      position: absolute;
      left: 50%;
      box-shadow: 0px 7px 27px -5px $btn-red;
      //top: 280px;
      &:hover,
      &:focus {
        background: #ffffff;
        border-color: $btn-red;
        color: $btn-red;
      }
    }
  }
  &__email {
    width: 100%;
    padding: 20px 0 20px 15px;
    font-size: 1.5rem;
    font-weight: 300;
    border: 1px solid $text-color;
  }
  &__btn--flex {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
  }
  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 70px;
    &--link {
      svg {
        transition: all .4s ease-in-out;
      }
      svg:hover,
      svg:focus {
        transform: rotateX(180deg);
      }
    }
  }
}

.white {
  color: #ffffff;
}

.flex-row {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  //bottom: 50%;
  &__item {
    flex: 0 0 50%;
  }
  &--wrap {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-item--size {
    //overflow: hidden;
  }
  .flex-item--column {
    display: flex;
    flex-direction: column;
  }
}

.flex-row__blog {
  flex-direction: row;
  position: relative;
}

.item-width {
  font-size: 1.6rem;
  display: inline-block;
  padding-top: 25%;
  margin: 1.66%;
  position: absolute;
  overflow: hidden;
  width: 30%;
  a {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
  }
}

.item__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.item__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .4) 40%, transparent);
}

.item__date {
  font-size: 32px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  line-height: .8;
  left: 25px;
  top: 25px;
  background: rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 8px;
}

.item__title {
  font-size: 2rem;
  text-align: left;
  position: absolute;
  font-weight: 700;
  line-height: .8;
  left: 20px;
  right: 20px;
  top: 200px;
}

.item__author {
  font-size: 1.3rem;
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-weight: 300;
}

.item__time {
  font-size: 1.3rem;
  position: absolute;
  bottom: 10px;
  left: 100px;
  font-weight: 300;
}


